@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&family=Montserrat:wght@100&family=Roboto+Serif:wght@500&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&family=Montserrat:wght@100&family=Roboto+Serif:wght@500&family=Roboto+Slab:wght@100;200;300;400;500;600;700;800;900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

body{
    font-family: Roboto;
}
*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
.contanier{
    height: 100vh;
    width: 100%;
}
.sec{
    height: 150vh;
}
/*---------------------Section1 designed by Kerim start here (For Laptop)------------------------*/
.nav{
    display: flex;
    justify-content: start;
    margin-left: 121px;
    margin-top: 97px;
}
.first_firstsection{
    display: flex;
}
.h1_1{
    width: 628px;
    height: 190px;
    margin-left: 122px;
    margin-top: 29px;
    font-family: Roboto Slab;
    font-style: normal;
    font-weight: bold;
    font-size: 80px;
    line-height: 101.38%;
    color: #000000;

}
.par1{
    width: 414px;
    height: 62px;
    margin-left: 122px;
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 20px;
    line-height: 150%;
    color: #000000;
}
.par{
    width: 483.63px;
    margin-top: 87.62px;
    height: 200px;
    background: #1E4681;
    border-radius: 5px;
    margin-left: 409.39px;
}
.par2{
    display: inline-block;
    margin-left: 26.02px;
    margin-top: 19.26px;
    width: 430.59px;
    height: 113px;
    font-family: Roboto Slab;
    font-style: normal;
    font-weight: normal;
    font-size: 25px;
    line-height: 130%;
    color: #FFFFFF;
}
.par3{
    display: inline-block;
    margin-left: 184.61px;
    margin-top: 22.2px;
    width: 280.5px;
    height: 45.64px;
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 20px;
    line-height: 130%;
    text-align: right;
    color: #FFFFFF;
}
.man{
    margin-top: 0;
    width: 304px;
    height: 356px;
    z-index: 1;
}
.image_man{
    position: relative;
    margin-left: 140px;
}
.ellipse_man{
    position: absolute;
    left: 25px;
    bottom: -15px;
    z-index: -1;
    width: 274px;
    height: 41px;
}
.span1{
    display: inline-block;
    width: 130px;
    height: 32px;
    margin-right: 25px;
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 20px;
    line-height: 115%;
    color: #000000;
}
.span2{
    display: inline-block;
    width: 130px;
    height: 32px;
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 20px;
    line-height: 115%;
    color: #000000;
}
.span3{
    display: inline-block;
    width: 130px;
    height: 32px;
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 20px;
    line-height: 115%;
    color: #000000;
}
.globe{
    width: 22px;
    height: 21px;
    margin-right: 8px;
}
.clock{
    width: 22px;
    height: 22px;
    margin-right: 10px;
}
.calendar{
    width: 20px;
    height: 22px;
    margin-right: 13px;
}
.logo1{
    width: 112px;
    height: 66px;
    margin-left: 121px;
    margin-top: 21px;
}
.section1{
    border: 1px solid black;
    height: 165vh;
}
/*-------------------------------------Section1 end here-----------------------------------------*/
.section2{
    border: 1px solid black;
}
.section3{
    border: 1px solid black;
}

/*---------------------Section4 designed by Namiq start here ( For Laptop )----------------------*/

.section4{
    border: 1px solid black;
    width: 100%;
    height: 198vh;
}

.wrapper {
    margin: 0 5.9% 0 5.8%;
}

.container4 {
    display: flex;
    flex-wrap: wrap;
}

.section4 h1 {
    margin: 0 28.75% 6.6% 8.4%;
    width: 62.8%;
    height: 6.5%;
    font-family: Roboto Slab;
    font-style: normal;
    font-weight: bold;
    font-size: 55px;
    line-height: 101.38%;
    color: #000000;
}
.container4 .card{
    margin: 2.6%;
    width: 27.7%;
    background: #FFFFFF;
    box-shadow: 1px 1px 15px rgba(0, 0, 0, 0.25);
    border-radius: 30px;
}

.container4 .card h3 {
    display: inline-block;
    margin: 2.8% 3.5% 0 5%;
    width: 91.5%;
    height: 9.8%;
    font-family: Roboto;
    font-style: normal;
    font-weight: bold;
    font-size: 25px;
    line-height: 130%;
    color: #000000;
}

.card img {
    width: 100%;
}

.cd8 h3 {
    margin: 4% 3.5% 0px 5%;
    line-height: 97%;
    max-height: 17.7%;
}

.card p {
    margin: 8% 3.8% 5.8% 4.8%;
    max-width: 91.5%;
    max-height: 15.8%;
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 20px;
    line-height: 130%;
    color: #000000;
}

.cd8 p {
    margin: 1px 3.7% 5.8% 4.8%;
}
/*---------------------------------------Section4 end here---------------------------------------*/
.section5{
    border: 1px solid black;
}
.section6{
    border: 1px solid black;
}
/*--------------------Section7 designed by Kerim for laptop ( start here )-----------------------*/
.section7{
    border: 1px solid black;
    height: 390px;
    background: #000000;
}
.kk{
    display: flex;
}
.logo_mobile_white{
    width: 115px;
    height: 68px;
    margin-left: 122px;
    margin-top: 50px;
    color: white;
}
.white_phone{
    width: 27px;
    height: 27px;
    margin-left: 600px;
    margin-top: 54px;
    margin-right: 22px;
}
.span_phone{
    width: 230px;
    height: 40px;
    margin-top: 59px;
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 25px;
    line-height: 101.38%;
    color: #FFFFFF;
}
.white_mail{
    width: 27px;
    height: 18px;
    margin-left: 600px;
    margin-top: 25px;
    margin-right: 22px;
}
.span_mail{
    width: 269px;
    height: 40px;
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 25px;
    line-height: 101.38%;
    color: #FFFFFF;
}
.social_media{
    display: flex;
    justify-content: start;
    margin-left: 122px;
    margin-top: 30px;
}
.noroot4{
    width: 33px;
    height: 33px;
    margin-right: 18px;
}
.fb{
    width: 32px;
    height: 32px;
    margin-right: 21px;
}
.vk{
    width: 35px;
    height: 35px;
    margin-right: 25px;
}
.wp{
    width: 34px;
    height: 34px;
}
.date{
    width: 230px;
    margin-left: 122px;
    margin-top:146px;
    height: 40px;
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 101.38%;
    color: #FFFFFF
}
/*----------------------------------Section7 end here--------------------------------------------*/
/*---------------------------------Responsive design by Kerim for Tablet-------------------------*/
@media  screen and (max-width:834px) {
    /* Section1 designed by Kerim start here (For Tablet) */
    .section1{
        border: 1px solid black;
        height: 100vh;
    }
    .contanier{
        height: 3800px;
    }
    .logo1{
        width: 64.87px;
        height: 38.23px;
        margin-left: 70.08px;
        margin-top: 22px;
    }
    .nav{
        margin-left: 70.08px;
        margin-top: 56.18px;
    }
    .globe{
        width: 12.74px;
        height: 12.16px;
        margin-right: 4.63px;
    }
    .clock{
        width: 12.74px;
        height: 12.74px;
        margin-right: 5.79px;
    }
    .calendar{
        width: 11.58px;
        height: 12.74px;
        margin-right: 7.53px;
    }
    .span1{
        width: 75.29px;
        height: 18.53px;
        margin-right: 14.48px;
        font-size: 12px;
    }
    .span2{
        width: 75.29px;
        height: 18.53px;
        font-family: Roboto;
        font-size: 12px;
    }
    .span3{
        width: 75.29px;
        height: 18.53px;
        font-size: 12px;
    }
    .h1_1{
        width: 363.72px;
        height: 110.04px;
        margin-left: 70.66px;
        margin-top: 7.53px;
        font-size: 46px;
        line-height: 101.38%;
    }
    .par1{
        width: 264px;
        height: 36px;
        margin-left: 71px;
        font-size: 12px;
    }
    .image_man{
        margin-left: 81.8px;
    }
    .man{
        
        width: 176.07px;
        height: 206.18px;
    }
    .ellipse_man{
        left: 20px;
        bottom: -8px;
        width: 158.69px;
        height: 23.75px;
    }
    .par{
        width: 280.11px;
        height: 115.83px;
        margin-top: 39.17px;
        border-radius: 2.9px;
        margin-left: 237.1px;
    }
    .par2{
        margin-left: 15.08px;
        margin-top: 11.15px;
        width: 249.38px;
        height: 65.45px;
        font-size: 14px;
    }
    .par3{
        margin-left: 108.22px;
        margin-top: 8.6px;
        width: 162.46px;
        height: 26.43px;
        font-size: 12px;
    }
    /* Section1 end here */
    /* Section7 designed by Kerim start here (For Tablet) */
    .section7{
        height: 225.88px;
    }
    
    .logo_mobile_white{
        width: 66.6px;
        height: 39.38px;
        margin-left: 70.66px;
        margin-top: 28.96px;
    }
    .social_media{
        margin-left: 70.66px;
        margin-top: 17.38px;
    }
    .noroot4{
        width: 19.11px;
        height: 19.11px;
        margin-right: 10.43px;
    
    }
    .fb{
        width: 18.53px;
        height: 18.53px;
        margin-right: 12.16px;
    
    }
    .vk{
        width: 20.27px;
        height: 20.27px;
        margin-right: 14.48px;
    
    }
    .wp{
        width: 19.69px;
        height: 19.69px;
    
    }
    .white_phone{
        width: 15.64px;
        height: 15.64px;
        margin-left: 428px;
        margin-top: 31.28px;
        margin-right: 12.74px;
    }
    .span_phone{
        width: 133.21px;
        height: 23.17px;
        margin-top: 34.17px;
        font-size: 14px;
    }
    .white_mail{
        width: 15.64px;
        height: 10.43px;
        margin-left: 428px;
        margin-top: 14.48px;
        margin-right: 12.74px;
    }
    .span_mail{
        width: 155.8px;
        height: 23.17px;
        font-size: 14px;
    }
    .date{
        width: 133.21px;
        height: 23.17px;
        margin-left: 70.66px;
        margin-top:69.39px;
        font-size: 10px;
    }
    /* Section7 end here */
}
/*-------------------------------Responsive designed by Kerim For Tablet----------------------- */
/*------------------Responsive designewd by Kerim for Mobile Phone----------------------------- */
@media  screen and (max-width:375px) {
    /* Section1 designed by Kerim start here (For Phone) */
    .section1{
        border: 1px solid black;
        height: 120vh;
    }
    .contanier{
        height: 4524px;
    }
    .logo1{
        width: 52.19px;
        height: 30.75px;
        margin-left: 35px;
        margin-top: 36px;
    }
    .nav{
        margin-left: 35px;
        margin-top: 45.2px;
    }
    .globe{
        width: 10.25px;
        height: 9.79px;
        margin-right: 3.73px;
    }
    .clock{
        width: 10.25px;
        height: 10.25px;
        margin-right: 4.66px;
    }
    .calendar{
        width: 9.32px;
        height: 10.25px;
        margin-right: 6.06px;
    }
    .span1{
        width: 60.58px;
        height: 14.91px;
        margin-right: 11.65px;
        font-size: 10px;
    }
    .span2{
        width: 60.58px;
        height: 14.91px;
        font-size: 10px;
    }
    .span3{
        width: 60.58px;
        height: 14.91px;
        font-size: 10px;
    }
    .first_firstsection{
        display: block;
    }
    .h1_1{
        width: 292.63px;
        height: 88.53px;
        margin-left: 35.47px;
        margin-top: 8.06px;
        font-size: 37px;
        line-height: 101.38%;
    }
    .par1{
        width: 212.4px;
        height: 28.96px;
        margin-left: 35.74px;
        font-size: 10px;
    }
    .image_man{
        margin-left: 201px;
        margin-top: 28px;
    }
    .man{
        
        width: 141.68px;
        height: 175.1px;
    }
    .ellipse_man{
        left: 16px;
        bottom: -5px;
        width: 127.68px;
        height: 19.1px;
    }
    .par{
        width: 225.36px;
        height: 93.19px;
        margin-top: 38.64px;
        border-radius: 2.33px;
        margin-left: 37.98px;
    }
    .par2{
        margin-left: 12.13px;
        margin-top: 8.97px;
        width: 200.64px;
        height: 52.65px;
        font-size: 11px;
    }
    .par3{
        margin-left: 87.07px;
        margin-top: 6.92px;
        width: 130.7px;
        height: 21.27px;
        font-size: 10px;
    }
    /*Section1 end here*/
    /* Section7 designed by Kerim start here (For Phone) */
    .section7{
        height: 251px;
    }
    .logo_mobile_white{
    
        width: 53.59px;
        height: 31.69px;
        margin-left: 37.85px;
        margin-top: 23.3px;
    }
    .social_media{
        margin-left: 37.85px;
        margin-top: 13.98px;
    }
    .noroot4{
        width: 15.38px;
        height: 15.38px;
        margin-right: 8.39px;
    }
    .fb{
        width: 14.91px;
        height: 14.91px;
        margin-right: 9.78px;
    }
    .vk{
        width: 16.31px;
        height: 16.31px;
        margin-right: 11.65px;
    }
    .wp{
        width: 15.84px;
        height: 15.84px;
    }
    .kk{
        display: block;
    }
    .kk1{
        width: 148.18px;
        height: 41.01px;
        margin-top: 47.66;
        margin-left:38px ;
    }
    .white_phone{
        width: 12.58px;
        height: 12.58px;
        margin-right: 10.25px;
        margin-left: 0px;
    }
    .span_phone{
        width: 107.17px;
        height: 18.64px;
        font-size: 12px;
    }
    .white_mail{
        width: 12.58px;
        height: 8.39px;
        margin-right: 10.25px;
        margin-top: 1.4px;
        margin-left: 0px;
    }
    .span_mail{
        width: 125.35px;
        height: 18.64px;
        font-size: 12px;
    }
    .date{
        width: 133.21px;
        height: 23.17px;
        margin-left: 37.85px;
        margin-top:48.99px;
        font-size: 10px;
    }
    /*Section7 end here*/
}
/*--------------------------------Responsive designed by Kerim-----------------------------------*/
/*--------------------------------------------- section2 styles Hasanrza------------------------------------------------- */
.section2container{
    margin-left: 121px;
}
.parcontent{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.sec2h1{
    width: 365px;
    height: 93px;
    font-family: Roboto Slab;
    font-weight: bold;
    font-size: 55px;
    margin-bottom: 18px;
}
.sec2par{
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 24px;
    width: 662px;
    height: 374px;
}

.cameramancontainer{
    position: relative;
    display: flex;
    flex-direction: column;
    margin-right: 127px;
    margin-top: 30px;
    margin-left: 164px;
}

.cameraman{
    width: 314px;
    height: 315px;
}

.phonecameraman{
    display: none;
}

.cameramanellipsis{
    position: absolute;
    top: 280px;
    right: -24px;
    z-index: -1;
}
.sec2endpar{
    margin-top: 94px;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
}

.sec2secondman{
    position: relative;
    display: flex;
    flex-direction: column;
}
.sec2lightman{
    width: 232px;
    height: 203px;
}
.sec2ellipsis33{
    position: absolute;
    width: 189px;
    height: 32px;
    top: 185px;
    left: 35px;
    z-index: -1;
}

.sec2headspars{
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    margin-left: 132px;
    margin-top: 70px;
}

.sec2headsparssecond{
    margin-left: 95px;
}

.sec2headsparsthird{
    margin-left: 93px;
}

.sec2firstheading{
    width: 150px;
    height: 39px;
    font-family: Roboto;
    font-weight: bold;
    font-size: 25px;
}

.sec2firstpar{
    width: 150px;
    height: 39px;
    font-family: Roboto;
    font-size: 18px;
}
.sec2secondheading{
    width: 150px;
    height: 39px;
    font-family: Roboto;
    font-weight: bold;
    font-size: 25px;
}

.sec2secondpar{
    width: 150px;
    height: 39px;
    font-family: Roboto;
    font-size: 18px;
}
.sec2thirdheading{
    width: 150px;
    height: 39px;
    font-family: Roboto;
    font-weight: bold;
    font-size: 25px;
}
.sec2thirdpar{
    width: 150px;
    height: 39px;
    font-family: Roboto;
    font-weight: normal;
    font-size: 18px;
}

/*----------------------------section 2 tablet layout ---------------------------------------------------- */
@media(max-width: 834px){
.section2container{
    margin-left: 70.08px;
}
.sec2h1{
    width: 211.4px;
    height: 53.86px;
    font-family: Roboto Slab;
    font-weight: bold;
    font-size: 32px;
    margin-bottom: 10.42px;
}

.sec2par{
    height: 216.61px;
}

.sec2par p{
    width: 383.41px;
    font-family: Roboto;
    font-size: 14px;
}

.cameramancontainer{
    position: relative;
    width: 181.86px;
    height: 182.44px;
    margin-left: 94.98px;
    margin-top: 0px;
}

.cameraman{
    width: 181.86px;
    height: 182.44px;
}

.phonecameraman{
    display: none;
}
.cameramanellipsis{
    width: 211.98px;
    height: 34.17px;
    position: absolute;
    top: 165px;
    left: -15.06px;
}

.sec2endpar{
    width: 580.33px;
    height: 126.84px;
    margin-top: 54.44px;
}

.sec2secondman{
    width: 134.37px;
    height: 117.57px;
    position: relative;
}

.sec2lightman{
    width: 134.37px;
    height: 117.57px;
}

.sec2ellipsis33{
    width: 109.46px;
    height: 18.53px;
    position: absolute;
    left: 20px;
    top: 110px;
}

.sec2headspars{
    width: 369.51px;
    height: 45.95;
    margin-left: 76.45px;
    margin-top: 42px;
}

.sec2firstheading{
    width: 86.88px;
    height: 22.59px;
    font-family: Roboto;
    font-weight: bold;
    font-size: 15px;
}

.sec2firstpar{
    width: 86.88px;
    height: 22.59px;
    font-family: Roboto;
    font-size: 11px;
}

.sec2secondheading{
    width: 86.88px;
    height: 22.59px;
    font-family: Roboto;
    font-weight: bold;
    font-size: 15px;
}

.sec2secondpar{
    width: 108px;
    height: 23px;
    font-family: Roboto;
    font-size: 11px;
}

.sec2thirdheading{
    width: 86.88px;
    height: 22.59px;
    font-family: Roboto;
    font-weight: bold;
    font-size: 15px;
}

.sec2thirdpar{
    width: 86.88px;
    height: 22.59px;
    font-family: Roboto;
    font-size: 11px;
}

.sec2headsparssecond{
    margin-left: 55.02px;
}

.sec2headsparsthird{
    margin-left: 32.53px;
}

.section2{
    height: 90vh !important;
}




}



/* ------------------------------- section 6 styles Hasanrza ----------------------------------- */ 

.section6{
    height: 780px !important;
    background: #9DC9C8;
}

.sec6header1{
    width: 908px;
    height: 66px;
    font-family: Roboto Slab;
    font-weight: bold;
    font-size: 55px;
}

.sec6par{
    width: 170px;
    height: 32px;
    font-family: Roboto;
    font-size: 25px;
    margin-top: 54px;
}

.sec6header2{
    width: 481px;
    height: 181px;
    font-family: Roboto;
    font-size: 80px;
}

.sec6commonpars{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 686px;
    height: 111px;
}

.sec6par1{
    width: 294px;
    height: 32px;
    font-family: Roboto;
    font-size: 25px;
    margin-bottom: 9px;
}

.sec6par2{
    width: 322px;
    height: 32px;
    font-family: Roboto;
    font-size: 25px;
    margin-left: 70px;
    margin-bottom: 9px;
}

.sec6par3{
    width: 294px;
    height: 70px;
    font-family: Roboto;
    font-size: 18px;

}
.sec6par4{
    width: 294px;
    height: 70px;
    font-family: Roboto;
    font-size: 18px;
    margin-left: 70px;
}

.section6container{
    margin-left: 121px;
    margin-top: 179px;
}
/*  --------------- section 6 end here --------------------------------------------------------  */
/*-------------------- Responsive designed by Hasan for Laptop---------------------------------- */
@media  screen and (max-width:834px) {
    /* Section2 designed by Hasan start here  */
    .section2container{
        margin-left: 70.08px;
    }
    .sec2h1{
        width: 211.4px;
        height: 53.86px;
        font-family: Roboto Slab;
        font-weight: bold;
        font-size: 32px;
        margin-bottom: 10.42px;
    }
    
    .sec2par{
        height: 216.61px;
    }
    
    .sec2par p{
        width: 383.41px;
        font-family: Roboto;
        font-size: 14px;
    }
    
    .cameramancontainer{
        position: relative;
        width: 181.86px;
        height: 182.44px;
        margin-left: 94.98px;
        margin-top: 0px;
    }
    
    .cameraman{
        width: 181.86px;
        height: 182.44px;
    }
    .cameramanellipsis{
        width: 211.98px;
        height: 34.17px;
        position: absolute;
        top: 165px;
        left: -15.06px;
    }
    
    .sec2endpar{
        width: 580.33px;
        height: 126.84px;
        margin-top: 54.44px;
    }
    
    .sec2secondman{
        width: 134.37px;
        height: 117.57px;
        position: relative;
    }
    
    .sec2lightman{
        width: 134.37px;
        height: 117.57px;
    }
    
    .sec2ellipsis33{
        width: 109.46px;
        height: 18.53px;
        position: absolute;
        left: 20px;
        top: 110px;
    }
    
    .sec2headspars{
        width: 369.51px;
        height: 45.95;
        margin-left: 76.45px;
        margin-top: 42px;
    }
    
    .sec2firstheading{
        width: 86.88px;
        height: 22.59px;
        font-family: Roboto;
        font-weight: bold;
        font-size: 15px;
    }
    
    .sec2firstpar{
        width: 86.88px;
        height: 22.59px;
        font-family: Roboto;
        font-size: 11px;
    }
    
    .sec2secondheading{
        width: 86.88px;
        height: 22.59px;
        font-family: Roboto;
        font-weight: bold;
        font-size: 15px;
    }
    
    .sec2secondpar{
        width: 108px;
        height: 23px;
        font-family: Roboto;
        font-size: 11px;
    }
    
    .sec2thirdheading{
        width: 86.88px;
        height: 22.59px;
        font-family: Roboto;
        font-weight: bold;
        font-size: 15px;
    }
    
    .sec2thirdpar{
        width: 86.88px;
        height: 22.59px;
        font-family: Roboto;
        font-size: 11px;
    }
    
    .sec2headsparssecond{
        margin-left: 55.02px;
    }
    
    .sec2headsparsthird{
        margin-left: 32.53px;
    }
    
    .section2{
        height: 90vh !important;
    }
    /* Section2 end here */
    /* Section6 designed by hasanrza start here (For Tablet) */
    .section6{
        height: 90vh !important;
    }
    .section6container{
        margin-left: 70.66px;
        margin-top: 103.67px;
    }
    
    .sec6header1{
        width: 525.88px;
        height: 38.23px;
        font-family: Roboto Slab;
        font-weight: bold;
        font-size: 32px;
        margin-bottom: 31.27px;
    }
    
    .sec6par{
        width: 98.46px;
        height: 18.53px;
        font-family: Roboto;
        font-size: 14px;
    }
    
    .sec6header2{
        width: 278.58px;
        height: 104.83px;
        font-family: Roboto;
        font-size: 46px;
    }
    
    .sec6commonpars{
        width: 397.31px;
        height: 64.29px;
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
    }
    .sec6par1{
        width: 170.28px;
        height: 18.53px;
        font-family: Roboto;
        font-size: 14px;
    }
    
    .sec6par2{
        width: 186.49px;
        height: 18.53px;
        font-family: Roboto;
        font-size: 14px;
        margin-left: 40.54px;
    }
    
    .sec6par3{
        width: 170.28px;
        height: 40.54px;
        font-family: Roboto;
        font-size: 10px;
        margin-top: 5.21px;
    }
    
    .sec6par4{
        width: 170.28px;
        height: 40.54px;
        font-family: Roboto;
        font-size: 10px;
        margin-left: 40.54px;
    }
    /* Section6 end here */ 
    
}
/*-----------------Responsive designed by Hasan for Tablet end here------------------------------*/

.section6container{
    margin-left: 70.66px;
    margin-top: 103.67px;
}

.sec6header1{
    width: 525.88px;
    height: 38.23px;
    font-family: Roboto Slab;
    font-weight: bold;
    font-size: 32px;
    margin-bottom: 31.27px;
}

.sec6par{
    width: 98.46px;
    height: 18.53px;
    font-family: Roboto;
    font-size: 14px;
}

.sec6header2{
    width: 278.58px;
    height: 104.83px;
    font-family: Roboto;
    font-size: 46px;
}

.sec6commonpars{
    width: 397.31px;
    height: 64.29px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}
.sec6par1{
    width: 170.28px;
    height: 18.53px;
    font-family: Roboto;
    font-size: 14px;
}

.sec6par2{
    width: 186.49px;
    height: 18.53px;
    font-family: Roboto;
    font-size: 14px;
    margin-left: 40.54px;
}

.sec6par3{
    width: 170.28px;
    height: 40.54px;
    font-family: Roboto;
    font-size: 10px;
    margin-top: 5.21px;
}

.sec6par4{
    width: 170.28px;
    height: 40.54px;
    font-family: Roboto;
    font-size: 10px;
    margin-left: 40.54px;
}
/*  --------------- section 6 end here --------------------------------------------------------  */

