@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&family=Montserrat:wght@100&family=Roboto+Serif:wght@500&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&family=Montserrat:wght@100&family=Roboto+Serif:wght@500&family=Roboto+Slab:wght@100;200;300;400;500;600;700;800;900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');
body{
    font-family: Roboto;
}

*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
.contanier{
    height: 100vh;
    width: 100%;
}
.sec{
    
    height: 150vh;
}
.nav{
    display: flex;
    justify-content: start;
    margin-left: 121px;
    margin-top: 97px;
}
.first_firstsection{
    display: flex;
    /* height: 80vh; */
}
.h1_1{
    width: 628px;
    height: 190px;
    margin-left: 122px;
    margin-top: 29px;
    font-family: Roboto Slab;
font-style: normal;
font-weight: bold;
font-size: 80px;
line-height: 101.38%;
/* or 81px */


color: #000000;

}
.par1{
    width: 414px;
height: 62px;
margin-left: 122px;
font-family: Roboto;
font-style: normal;
font-weight: normal;
font-size: 20px;
line-height: 150%;
/* or 30px */


color: #000000;
}
.man{
    margin-top: 0;
    
    width: 304px;
height: 356px;
z-index: 1;


}
.image_man{
    position: relative;
    margin-left: 140px;
}
.ellipse_man{
    position: absolute;
    left: 25px;
    bottom: -15px;
    z-index: -1;

    width: 274px;
height: 41px;

}
.span1{
    /* margin-right: 25px; */
    display: inline-block;
    width: 130px;
    height: 32px;
    margin-right: 25px;
    font-style: normal;
font-weight: normal;
font-size: 20px;
line-height: 115%;
/* or 23px */


color: #000000;


}
.span2{
    display: inline-block;
    width: 130px;
    height: 32px;
    font-family: Roboto;
font-style: normal;
font-weight: normal;
font-size: 20px;
line-height: 115%;
/* or 23px */


color: #000000;
}
.span3{
    display: inline-block;
    width: 130px;
    height: 32px;
    font-family: Roboto;
font-style: normal;
font-weight: normal;
font-size: 20px;
line-height: 115%;
/* or 23px */


color: #000000;

}
.globe{
    width: 22px;
    height: 21px;
    margin-right: 8px;
}
.clock{
    width: 22px;
    height: 22px;
    margin-right: 10px;
}
.calendar{
    width: 20px;
    height: 22px;
    margin-right: 13px;
}
.logo1{
    width: 112px;
    height: 66px;
    margin-left: 121px;
    margin-top: 21px;
}
.section1{
    border: 1px solid black;
}
.section2{
    border: 1px solid black;
}
.section3{
    border: 1px solid black;
}

/* Namiq branch section 4 yazdimki qarismasin */

.section4{
    border: 1px solid black;
    width: 100%;
    height: 198vh;
}

.wrapper {
    margin: 0 5.9% 0 5.8%;
}

.container4 {
    display: flex;
    flex-wrap: wrap;
}

.section4 h1 {
    margin: 0 28.75% 6.6% 8.4%;
    width: 62.8%;
    height: 6.5%;
    font-family: Roboto Slab;
    font-style: normal;
    font-weight: bold;
    font-size: 55px;
    line-height: 101.38%;
    /* or 56px */


    color: #000000;
}
.container4 .card{
    margin: 2.6%;
    width: 27.7%;
    background: #FFFFFF;
    box-shadow: 1px 1px 15px rgba(0, 0, 0, 0.25);
    border-radius: 30px;
}

.container4 .card h3 {
    display: inline-block;
    margin: 2.8% 3.5% 0 5%;
    width: 91.5%;
    height: 9.8%;
    font-family: Roboto;
    font-style: normal;
    font-weight: bold;
    font-size: 25px;
    line-height: 130%;
    /* identical to box height, or 39px */


    color: #000000;
}

.card img {
    width: 100%;
}

.cd8 h3 {
    margin: 4% 3.5% 0px 5%;
    line-height: 97%;
    max-height: 17.7%;
}

.card p {
    margin: 8% 3.8% 5.8% 4.8%;
    max-width: 91.5%;
    max-height: 15.8%;
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 20px;
    line-height: 130%;
    /* or 32px */


    color: #000000;
}

.cd8 p {
    margin: 1px 3.7% 5.8% 4.8%;
}
.section5{
    border: 1px solid black;
}
.section6{
    border: 1px solid black;
}
.section7{
    border: 1px solid black;
}