@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&family=Montserrat:wght@100&family=Roboto+Serif:wght@500&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&family=Montserrat:wght@100&family=Roboto+Serif:wght@500&family=Roboto+Slab:wght@100;200;300;400;500;600;700;800;900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');
body{
    font-family: Roboto;
}

*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
.contanier{
    height: 100vh;
    width: 100%;
}
.sec{
    
    height: 150vh;
}
.nav{
    display: flex;
    justify-content: start;
    margin-left: 121px;
    margin-top: 97px;
}
.first_firstsection{
    display: flex;
    /* height: 80vh; */
}
.h1_1{
    width: 628px;
    height: 190px;
    margin-left: 122px;
    margin-top: 29px;
    font-family: Roboto Slab;
font-style: normal;
font-weight: bold;
font-size: 80px;
line-height: 101.38%;
/* or 81px */


color: #000000;

}
.par1{
    width: 414px;
height: 62px;
margin-left: 122px;
font-family: Roboto;
font-style: normal;
font-weight: normal;
font-size: 20px;
line-height: 150%;
/* or 30px */


color: #000000;
}
.man{
    margin-top: 0;
    
    width: 304px;
height: 356px;
z-index: 1;


}
.image_man{
    position: relative;
    margin-left: 140px;
}
.ellipse_man{
    position: absolute;
    left: 25px;
    bottom: -15px;
    z-index: -1;

    width: 274px;
height: 41px;

}
.span1{
    /* margin-right: 25px; */
    display: inline-block;
    width: 130px;
    height: 32px;
    margin-right: 25px;
    font-style: normal;
font-weight: normal;
font-size: 20px;
line-height: 115%;
/* or 23px */


color: #000000;


}
.span2{
    display: inline-block;
    width: 130px;
    height: 32px;
    font-family: Roboto;
font-style: normal;
font-weight: normal;
font-size: 20px;
line-height: 115%;
/* or 23px */


color: #000000;
}
.span3{
    display: inline-block;
    width: 130px;
    height: 32px;
    font-family: Roboto;
font-style: normal;
font-weight: normal;
font-size: 20px;
line-height: 115%;
/* or 23px */


color: #000000;

}
.globe{
    width: 22px;
    height: 21px;
    margin-right: 8px;
}
.clock{
    width: 22px;
    height: 22px;
    margin-right: 10px;
}
.calendar{
    width: 20px;
    height: 22px;
    margin-right: 13px;
}
.logo1{
    width: 112px;
    height: 66px;
    margin-left: 121px;
    margin-top: 21px;
}
.section1{
    border: 1px solid black;
}
.section2{
    border: 1px solid black;
}
.section3{
    border: 1px solid black;
}

/* Namiq branch section 4 yazdimki qarismasin */

.section4{
    border: 1px solid black;
    width: 100%;
    height: 198vh;
}

.section4 .wrapper {
    margin: 0 85px 0 84px;
}

.container4 {
    display: flex;
    flex-wrap: wrap;
    margin-top: 95px;
}

.section4 h1 {
    justify-content: center;
    max-width: 905px;
    text-align: left;
    padding-left: 37px;
    font-family: Roboto Slab;
    font-weight: bold;
    font-size: 55px;
    line-height: 101.38%;
    color: #000000;
}
.container4 .card{
    margin: 0 37px 41px 0;
    max-width: 350px;
    background: #FFFFFF;
    box-shadow: 1px 1px 15px rgba(0, 0, 0, 0.25);
    border-radius: 30px;
}

.container4 .card h3 {
    display: inline-block;
    margin: 11px 14px 0 20px;
    max-width: 365px;
    font-family: Roboto;
    font-style: normal;
    font-size: 25px;
    line-height: 130%;
    color: #000000;
}

.card img {
    width: 100%;
}

.cd8 h3 {
    margin: 16px 14px 0 20px;
    line-height: 97%;
}

.card p {
    margin: 32px 15px 23px 19px;
    max-width: 365px;
    font-family: Roboto;
    font-weight: normal;
    font-size: 20px;
    line-height: 130%;
    color: #000000;
}

.cd8 p {
    margin: 1px 15px 23px 19px;
}  

/* Namiq branch section 5 */

.section5{
    border: 1px solid black;
    background: #EFEFEF;
    height: 130vh;
}

.section5 .wrapper {
    width: 83%;
    margin: 50px auto;
}

.section5 h1 {
    max-width: 987px;
    height: 90px;
    font-family: Roboto Slab;
    font-weight: bold;
    font-size: 55px;
    line-height: 101.38%;
    color: #000000;
    margin-bottom: 35px;
    padding: o 100px 35px 0;
}

.container5 {
    max-width: 791px;
    background: #FFFFFF;
    box-shadow: 1px 1px 20px rgba(0, 0, 0, 0.25);
    border-radius: 30px;
    padding: 40px 45px;
}

.container5 .above {
    font-family: Roboto;
    font-weight: normal;
    font-size: 20px;
    line-height: 150%;
    color: #000000;
}

.container5 .low {
    display: flex;
    margin-top: 40px;
    align-items: center;
}

.container5 .low h3 {
    max-width: 353px;
    height: 50px;
    text-align: left;
    font-family: Roboto Slab;
    font-weight: bold;
    font-size: 30px;
    line-height: 101.38%;
    color: #000000;
    position: relative;
}

.section6{
    border: 1px solid black;
}
.section7{
    border: 1px solid black;
}

/*--------------------------------------------------  Namiq wrapper starting  ---------------------------------------*/

@media (min-width: 1280px) and (max-width: 1440px) {
    
}

@media (min-width: 834px) and (max-width: 1280px) {
    .section4{
        height: 800px;
    }
    
    .section4 .wrapper {
        margin: 0 49.23px 0 48.65px;
    }
    .section4 h1 {
        max-width: 525px;
        padding-left: 37px;
        font-size: 32px;
    }
    .container4 .card{
        margin: 0 23.7px 21.4px 0;
        max-width: 231px;
        background: #FFFFFF;
        box-shadow: 0.579167px 0.579167px 8.6875px rgba(0, 0, 0, 0.25);
        border-radius: 17.375px;
    }
    
    .container4 .card h3 {
        display: inline-block;
        margin: 6.37px 8.11px 0 11.58px;
        max-width: 211.4px;
        font-size: 17px;
    }
    
    .card img {
        width: 100%;
    }
    
    .cd8 h3 {
        margin: 9.27px 8.11px 0 11.58px;
    }
    
    .card p {
        margin: 18.53px 8.7px 13.32px 11px;
        max-width: 211.4px;
        font-size: 14px;
    }
    
    .cd8 p {
        margin: 1px 8.7px 13.32px 11px;
    }  
    
    .section5{
        height: 480px;
    }
    
    .section5 .wrapper {
        width: 83%;
        margin: 50px auto;
    }
    
    .section5 h1 {
        max-width: 571.64px;
        height: 53.86px;
        font-size: 32px;
        margin-bottom: 35px;
        padding: o 100px 35px 0;
    }
    
    .container5 {
        margin-left: 5px;
        max-width: 458.12px;
        box-shadow: 0.579167px 0.579167px 11.5833px rgba(0, 0, 0, 0.25);
        border-radius: 17.375px;
        padding: 23.17px 26.64px 16.8px 26px;
    }
    
    .container5 .above {
        font-size: 12px;
    }
    
    .container5 .low {
        display: flex;
        margin-top: 10px;
        align-items: center;
    }
    
    .container5 .low h3 {
        max-width: 204.45px;
        height: 34.17px;
        text-align: left;
        font-size: 17px;
        position: relative;
    }

    .container5 .low img {
        width: 110px;
        height: 98px;
        margin-left: -15px;
    }

    .container5 .low .div1 .div2 .img2 {
        width: 18.5px;
        height: 18px;
        margin-left: 0;
    }
}

@media (min-width: 375px) and (max-width: 834px) {
    .section4{
        border: 1px solid black;
        width: 100%;
        height: 1675px;
    }

    .section4 .wrapper {
        margin: 0 94px 0 95px;
    }

    .container4 {
        display: flex;
        flex-wrap: wrap;
        margin-top: 35px;
    }

    .section4 h1 {
        justify-content: unset;
        max-width: 421.7px;
        text-align: unset;
        padding-left: unset;
        font-size: 26px;
        margin-left: -65px;
    }
    .container4 .card{
        margin: 0 37px 41px 0;
        max-width: 186px;
        box-shadow: 0.465972px 0.465972px 6.98958px rgba(0, 0, 0, 0.25);
        border-radius: 13.9792px;
    }

    .container4 .card h3 {
        display: inline-block;
        margin: 5.1px 6.5px 0 9.3px;
        max-width: 170px;
        font-size: 14px;
    }

    .card img {
        width: 100%;
    }

    .cd8 h3 {
        margin: 7.5px 6.5px 0 9.3px;
    }

    .card p {
        margin: 15px 7px 10.7px 8.8px;
        max-width: 170px;
        font-size: 12px;
    }

    .cd8 p {
        margin: 1px 7px 10.7px 8.8px;
    }  

    /* Namiq branch section 5 */

    .section5{
        height: 430px;
    }

    .section5 .wrapper {
        width: 83%;
        margin: 42px auto;
    }

    .section5 h1 {
        max-width: 257px;
        height: 69px;
        font-size: 26px;
        margin-bottom: 35px;
        padding: unset;
    }

    .container5 {
        max-width: 308px;
        box-shadow: 0.465972px 0.465972px 9.31944px rgba(0, 0, 0, 0.25);
        border-radius: 13.9792px;
        padding: 18.5px 21px 13px 21px;
    }

    .container5 .above {
        font-size: 10px;
    }

    .container5 .low {
        display: flex;
        margin-top: 5px;
        align-items: center;
    }

    .container5 .low h3 {
        max-width: 164.5px;
        height: 32.7px;
        text-align: left;
        font-size: 14px;
        position: relative;
    }

    .container5 .low img {
        width: 80px;
        height: 84px;
    }

    .container5 .low .div1 .div2 .img2 {
        width: 15px;
        height: 17px;
    }
}

/*--------------------------------------------------  Namiq wrapper ending  ---------------------------------------*/